.layout-container {
  display: flex;
  min-height: 100vh;
}

.sidebar {
  width: 210px;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: #212531;
  padding-top: 35px;
  overflow-y: auto;
  color: #b6bece;
}

.main-content {
  margin-left: 210px; /* width of sidebar */
  padding: 40px 30px;
  flex: 1;
  background-color: #181b20;
  min-height: 100vh;
  box-sizing: border-box;
}
